h2 {
  color:black;
  text-align:Left;
  font-size: 30px;
  margin-Top: 50px;
  border-Left: 25px;
  background-color:lightgray;
  {

h1{
  color:blue;
  margin-Left: 100px;
  position:float;
  Right:100px;
  Top:50px;
  }
