h1 {
  color:red;
  text-align:Center;
  Top:50px;
  Left:20px;
  {


h2 {
  color:green;
  text-align:Left;
  font-size: 30px;
  margin-Top: 50px;
  border-Left: 25px;
  background-color:lightgray;
  {
