h1 {
  color:rgb(0, 0, 0);
  text-align:Center;
  margin-top:50px;
  margin-left:50px;
}

h2{
  font-size:30px;
}

  #Home {
    background-color:lightgray;
    width:80px;
  }

  #Audit {
    background-color:lightgray;
    width:250px;
  }

  #Frames {
    background-color:lightgray;
    width:160px;
  }

  #Proto {
    background-color:lightgray;
    width:140px;
  }

  #Usability {
    background-color:lightgray;
    width:180px
  }

  #Intro {
    text-align: left;
    margin-left:50px;
  }

  p {
    font-size: 20px;
    margin-Left:50px;
  }
  

 
